@page
@model Project_V17.Pages.ConfirmationModel
@{
    ViewData["Title"] = "Confirmation";
}
<h2>Confirmation of Application</h2>

<p>Thank you for your application, it will now be sent to your HOD, HOF and Executive for approval.</p>

<p>The Following Steps are the process of the procedure:</p>
<p>Your HOD, will review and approve or deny this request</p>
<p>Your HOF will approve or deny this request and then rank all applications from their area.</p>
<p>All approved applications are presented to the Executive Committee for final approval</p>
<p>You will be notified of the outcome as soon as it has been made.</p>

